.Element {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #d3d3d3;
    justify-content: space-between;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    height: 250px;

}

.Element .Image {
    width: 40%;
    height: 100%;
    margin-right: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    overflow: hidden;
    align-items: center;
    background-color: #ffffff;
}

.Element .Image img {;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.Element .Info {
    width: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.Element .Title {
    font-size: 16px;
    font-weight: bold;
}

.Element .Price {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.Element .LocationDate {
    margin-top: auto;
}