
html { width: 100%; height: 100%; }
body { font-family: sans-serif; font-size: 14px; color: #000; margin: 0; padding: 0;  }

*:before, *:after { box-sizing: border-box; }
* { box-sizing: border-box; }



.FilterForm {
    margin-top: 60px;
    text-align: left;
}


.FilterForm form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.FilterForm input, .FilterForm select, .FilterForm button {
    margin-right: 10px;
    margin-left: 3px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 5px;
}

.FilterForm select:hover {
    background-color: #d0d0d7;
}

.FilterForm input[name="search"] {
    flex-grow: 1;
    margin-left: 10px;
}

.FilterForm button {
    padding-inline: 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.FilterForm button:hover {
    background-color: #0056b3;
}

.Header {
    margin-top:-60px;

    background-color: #d3d3d3;
    padding: 10px;
    text-align: left;
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    position: fixed;
    width: 100%;

}

.Header button {
    margin-left: 10px;
    float: right;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.Header button:hover {
    background-color: #0056b3;
}

.Header .HeaderTitle {
    color: #000000;
    text-decoration: none;
}

